{% extends 'root/base.html' %}
{% load static %}
{% block title %}Expense | All Expense{% endblock %}
{% block content %}

<div class="row">

    <div class="col-12">
        <div class="card ">
            <div class="card-header pdn-sm-x-40 d-flex justify-content-between align-items-center">
                <div class="">
                    <h6>All Expense List</h6>
                </div>
            </div>

            <div class="card-body pdn-20 pdn-sm-40 pdn-t-20-imp">
                <div class="row row-xs">
                    <div class="col-lg-3 col-sm-12 col-md-3">
                        <div class="card card-widget shadow-none ">
                            <div class="card-body widget-aristocrat">
                                <div class="d-flex justify-content-between">
                                    <div class="align-items-center">
                                        <h6>
                                            Pending Expense
                                        </h6>
                                        <h4>
                                            {{pending_expense}}
                                        </h4>
                                    </div>
                                    <div class="align-items-center">
                                        <span class="widget-icon-aristocrat">
                                            <i class="icon-basket"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-3">
                        <div class="card shadow-none  card-widget">
                            <div class="card-body widget-info ">
                                <div class="d-flex justify-content-between">
                                    <div class="align-items-center">
                                        <h6>
                                            Expenses
                                        </h6>
                                        <h4>
                                            $00
                                        </h4>
                                    </div>
                                    <div class="align-items-center">
                                        <span class="widget-icon-info">
                                            <i class="icon-wallet"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-3">
                        <div class="card shadow-none card-widget ">
                            <div class="card-body widget-success">
                                <div class="d-flex justify-content-between">
                                    <div class="align-items-center">
                                        <h6>
                                            Revenue
                                        </h6>
                                        <h4>
                                            $00
                                        </h4>
                                    </div>
                                    <div class="align-items-center">
                                        <span class="widget-icon-success">
                                            <i class="icon-layers"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-3">
                        <div class="card shadow-none card-widget ">
                            <div class="card-body widget-warning">
                                <div class="d-flex justify-content-between">
                                    <div class="align-items-center">
                                        <h6>
                                            Visitors
                                        </h6>
                                        <h4>
                                            00
                                        </h4>
                                    </div>
                                    <div class="align-items-center">
                                        <span class="widget-icon-warning">
                                            <i class="icon-chart"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="myTable" class="dataTables_wrapper table-bordered">
                        <thead>
                            <tr>
                                <th>Expense Date</th>
                                <th>Particular</th>
                                <th>Attch File</th>
                                <th>Expense Account</th>
                                <th>Paid Account</th>
                                <th>For</th>
                                <th>By</th>
                                <th>Amount</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td>{{expense.expense_date}}</td>
                                <td>{{expense.particular}}</td>
                                <td>
                                    <img src="/media/{{expense.expense_image}}" width="50px" alt="">
                                </td>
                                <td>{{expense.expense_account}}</td>
                                <td>{{expense.paid_account}}</td>
                                <td>{{expense.people_for}}</td>
                                <td>{{expense.people_by}}</td>
                                <td>{{expense.amount}}</td>
                                <td>{{expense.user}}</td>
                                <td><a type="button" class="btn btn-sm btn-primary-soft">Approve</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
            {% block js_block %}
            <script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/buttons.bootstrap4.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/jszip.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/pdfmake.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/vfs_fonts.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/buttons.html5.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/buttons.colVis.min.js' %}"></script>
            <script src="{% static 'js/vendor/datatables/buttons.print.min.js' %}"></script>
            <script src="{% static 'js/components/dashboard-init.js' %}"></script>
            <script src="{% static 'js/components/datatable-init.js' %}"></script>
            {% endblock %}