<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Mahmud Consortium | Reset Password</title>

	<!--custom style sheet-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body class="wrapper-login" style="background-image: url(assets/images/bg.svg);">
	<div class="container">
		<div id="app">
			<div class="login-form">
				<div class="card ">
					<div class="card-body">
						<div class="main-logo text-center my-3">
							<img src="{% static 'images/logo.png' %}" width="50px" height="50px" alt="madol">
						</div>
						<h6 class="text-center mb-3">Reset Password</h6>
						<p class='text-center'>Forgotten your password?</p>
						<hr>
						<div class="text-center">
							<form method="POST">
								{% csrf_token %}
								{{ form.as_p }}
								<button class="btn btn-primary btn-block btn-sm mgn-t-15" type="submit">Send
									email</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>

	<!--Plugin-->

</body>

</html>







<!-- <h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit">Send email</button>
</form> -->