<!--Password reset sent-->
<div class="container p-5">

</div>





<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mahmud Consortium | Login</title>

  <!--custom style sheet-->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body class="wrapper-login">
  <div class="container">
    <div id="app">
      <div class="login-form">
        <div class="card ">
          <div class="card-body">
            <div class="main-logo text-center my-3">
              <img src="{% static 'images/logo.png' %}" width="50px" height="50px" alt="madol">
            </div>
            <h2 class="font-weight-bold mt-3 text-center">Password reset sent</h2>
            <hr>
            <p class='text-center text-justify'>We've emailed you instructions for setting your password, if an account
              exists with
              the email you
              entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've
              entered the address you registered with, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>

  <!--Plugin-->

</body>

</html>