<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}Mahmud Consortium | Dashboard{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'icons/simple-line-icons/css/simple-line-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'js/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'js/vendor/datatables/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/vendor/datatables/responsive.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/vendor/datatables/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
  <!-- #app start -->
  <div id="app">
    <!-- header.topbar start-->
    {% include 'root/header.html' %}
    <!-- header.topbar end-->

    <!-- .aside-wrapper start -->
    {% include 'root/navbar.html' %}
    <!-- .aside-wrapper end -->

    <!-- .content-wrapper start -->
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="page-content">
          <!-- .page-title start -->
          <div class="page-title">
            <div class="row">
              <div class="col-md-6">
                <h4>
                  {% block page_title %} Welcome to Dashboard {% endblock %}
                </h4>

                <a href="#">Home</a>
                <span>Dashboard</span>
              </div>
            </div>
          </div>
          <!-- .page-title end -->
          {% block content %} {% endblock %}
        </div>
      </div>
      {% include 'root/footer.html' %}
    </div>
    <!-- .content-wrapper end -->
  </div>
  <!-- #app end -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/vendor/vue/vue.js' %}"></script>
  <script src="{% static 'js/vendor/axios/axios.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

  <!--Plugin-->
  <script src="{% static 'js/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
  <!--script-->
  {% block js_block %}
  {% endblock %}
  <script src="{% static 'js/components/main.js' %}"></script>


</body>

</html>