{% load static %}
{% load custom_filter %}

<aside class="aside-wrapper">
  <!-- .aside-inner start -->
  <div class="aside-inner">
    <!-- .aisde-header start -->
    <div class="aisde-header">
      <img src="{% static 'images/default.jpg' %}" alt="User image" />
      <h6 class="user-name mgn-t-15">Vela Holdooing</h6>
    </div>
    <!-- .aisde-header end -->

    <!-- .aside-body start -->
    <div class="aside-body">
      <!-- .aside-menu start -->
      <div class="aside-menu">
        <!-- ul.aside-nav start -->
        <ul class="nav aside-nav">
          <!-- Index Dashboard -->
          {% if request.user.is_authenticated %}
          {% if request.user.user_role|make_string == 'Supervisor' %}
          <li class="nav-item">
            <a href="{% url 'User:supervisor_dashboard' %}" class="nav-link">
              <i class="icon-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          {% elif request.user.user_role|make_string == 'Accounts' %}
          <li class="nav-item">
            <a href="{% url 'User:accounts_dashboard' %}" class="nav-link">
              <i class="icon-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          {% elif request.user.user_role|make_string == 'Executive' %}
          <li class="nav-item">
            <a href="{% url 'User:executive_dashboard' %}" class="nav-link">
              <i class="icon-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          {% elif request.user.user_role|make_string == 'Employee' %}
          <li class="nav-item">
            <a href="{% url 'User:employee_dashboard' %}" class="nav-link">
              <i class="icon-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          {% elif request.user.user_role|make_string == 'Admin' %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          {% endif %}
          {% endif %}
          <!------>
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-basket"></i>
              <span>Products</span>
            </a>
            <ul>
              <li>
                <a href="{% url 'Products:add_product' %}">
                  Add Product +
                </a>
              </li>
              <li>
                <a href="">
                  Customers
                </a>
              </li>
              <li>
                <a href="">
                  Reports
                </a>
              </li>
            </ul>
          </li>
          <!-- Expense -->
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-bag"></i>
              <span>Expense</span>
            </a>
            <ul>
              <li>
                <a href="{% url 'Expense:all_expense' %}">
                  All Expense
                </a>
              </li>
              <li>
                <a href="{% url 'Expense:new_expense' %}">
                  New Expense +
                </a>
              </li>
              <li>
                <a href="{% url 'Expense:new_recurring_expense' %}">
                  Recurring Expense
                </a>
              </li>
            </ul>
          </li>
          <!-- Analytics -->
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-calculator"></i>
              <span>Sales</span>
            </a>
            <ul>
              <li>
                <a href="">
                  Invoice
                </a>
              </li>
              <li>
                <a href="">
                  Customers
                </a>
              </li>
              <li>
                <a href="">
                  Reports
                </a>
              </li>
            </ul>
          </li>

          <!-- Purchase -->
          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-bag"></i>
              <span>Purchase</span>
            </a>
            <ul>
              <li>
                <a href="{% url 'Purchase:vendor_list' %}">
                  All Vendor
                </a>
              </li>
              <li>
                <a href="{% url 'Purchase:create_vendor' %}">
                  Create Vendor
                </a>
              </li>
              <li>
                <a href="{% url 'Purchase:create_purchase_order' %}">
                  Purchase Orders
                </a>
              </li>
              <li>
                <a href="{% url 'Purchase:purchase_order_list' %}">
                  Purchase Orders List
                </a>
              </li>
              <li>
                <a href="{% url 'Purchase:bill_list' %}">
                  All Bills
                </a>
              </li>
              <li>
                <a href="{% url 'Purchase:create_bill' %}">
                  Create Bill
                </a>
              </li>
              <li>
                <a href="">
                  Payment Made
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-wallet"></i>
              <span>Accountant</span>
            </a>
            <ul>
              <li>
                <a href="{% url 'Accountant:chart_of_accounts' %}">
                  Chart Of Accountant
                </a>
              </li>
              <li>
                <a href="{% url 'Accountant:base_account' %}">
                  Base Account
                </a>
              </li>
              <li>
                <a href="{% url 'Accountant:account_type' %}">
                  Account Type
                </a>
              </li>
              <li>
                <a href="{% url 'Accountant:new_journal' %}">
                  New Journal +
                </a>
              </li>
              <li>
                <a href="{% url 'Accountant:all_journal' %}">
                  All Journal
                </a>
              </li>
              <li>
                <a href="analytics-reports.html">
                  Reports
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-user"></i>
              <span>People</span>
            </a>
            <ul>
              <li>
                <a href="{% url 'People:company_list' %}">
                  Company
                </a>
              </li>
              <li>
                <a href="{% url 'People:department_list' %}">
                  Department
                </a>
              </li>
              <li>
                <a href="{% url 'People:create_people' %}">
                  Create People
                </a>
              </li>
              <li>
                <a href="{% url 'People:people_list' %}">
                  People List
                </a>
              </li>
              <li>
                <a href="#">
                  Reports
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-submenu">
            <a href="#" class="nav-link">
              <i class="icon-calculator"></i>
              <span>Users</span>
            </a>
            <ul>
              <li>
                <a href="">
                  All users
                </a>
              </li>
              <li>
                <a href="{% url 'User:create_user' %}">
                  Create User
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-title">
            Reports
          </li>
          <!-- Reports -->
          <li class="nav-item">
            <a href="{% url 'Reports:allreports' %}" class="nav-link">
              <i class="icon-diamond"></i>
              <span>All Reports</span>
            </a>
          </li>
        </ul>
        <!-- ul.aside-nav end -->
      </div>
      <!-- .aside-menu end -->
    </div>
    <!-- .aside-body end -->
  </div>
  <!-- .aside-inner end -->
</aside>