{% extends 'root/base.html' %}
{% load static %}
{% block title %}Accountant | Base Account{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'js/vendor/select2/css/select2.min.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header pdn-sm-x-40">
                <h6>Create Base Account</h6>
            </div>

            <div class="card-body pdn-20 pdn-sm-40 pdn-t-20-imp">
                <div class="pdn-sm-55 pdn-15 bdr">
                    Employee
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js_block %}
    <script src="{% static 'js/vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/components/select2-init.js' %}"></script>
    {% endblock %}