{% extends 'root/base.html' %}
{% load static %}
{% block title %}Dashboard | Employee{% endblock %}
{% block content %}

<div class="row row-xs">
    <div class="col-lg-3 col-sm-12 col-md-3">
        <div class="card card-widget shadow-none ">
            <div class="card-body widget-aristocrat">
                <div class="d-flex justify-content-between">
                    <div class="align-items-center">
                        <h6>
                            <a href="{% url 'Purchase:purchase_order_list' %}">My
                                Purchase Order</a>
                        </h6>
                        <h4>
                            {{order_lists}}
                        </h4>
                    </div>
                    <div class="align-items-center">
                        <span class="widget-icon-aristocrat">
                            <i class="icon-wallet"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3">
        <div class="card card-widget shadow-none ">
            <div class="card-body widget-aristocrat">
                <div class="d-flex justify-content-between">
                    <div class="align-items-center">
                        <h6>
                            <a href="{% url 'Purchase:bill_list' %}">Bill Lists</a>
                        </h6>
                        <h4>
                            {{bill_lists}}
                        </h4>
                    </div>
                    <div class="align-items-center">
                        <span class="widget-icon-aristocrat">
                            <i class="icon-wallet"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3">
        <div class="card shadow-none  card-widget">
            <div class="card-body widget-info ">
                <div class="d-flex justify-content-between">
                    <div class="align-items-center">
                        <h6>
                            Expenses
                        </h6>
                        <h4>
                            $00
                        </h4>
                    </div>
                    <div class="align-items-center">
                        <span class="widget-icon-info">
                            <i class="icon-basket"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3">
        <div class="card shadow-none card-widget ">
            <div class="card-body widget-success">
                <div class="d-flex justify-content-between">
                    <div class="align-items-center">
                        <h6>
                            Revenue
                        </h6>
                        <h4>
                            $00
                        </h4>
                    </div>
                    <div class="align-items-center">
                        <span class="widget-icon-success">
                            <i class="icon-layers"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3">
        <div class="card shadow-none card-widget ">
            <div class="card-body widget-warning">
                <div class="d-flex justify-content-between">
                    <div class="align-items-center">
                        <h6>
                            Visitors
                        </h6>
                        <h4>
                            00
                        </h4>
                    </div>
                    <div class="align-items-center">
                        <span class="widget-icon-warning">
                            <i class="icon-chart"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_block %}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/vendor/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'js/components/dashboard-init.js' %}"></script>
<script src="{% static 'js/components/datatable-init.js' %}"></script>
{% endblock %}