{% extends 'root/base.html' %} {% block title %}Sales | Invoice{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pdn-sm-x-40">
                <h6>Cash</h6>
            </div>

            <div class="card-body pdn-20 pdn-sm-40">
                <div class="pdn-sm-55 pdn-15 bdr">
                    <form>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">Voucher No : </label>
                            <div class="form-group col-md-4">
                                <input class="form-control" id="inputEmail4" value="000001" readonly />
                            </div>
                            <label for="staticEmail" class="col-md-2 col-form-label">Tr No : </label>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="inputEmail4" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">Date : </label>
                            <div class="form-group col-md-4">
                                <input type="date" class="form-control" id="inputEmail4" />
                            </div>
                            <label for="staticEmail" class="col-md-2 col-form-label">Paid To : </label>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="inputEmail4" />
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="staticEmail" class="col-md-2 col-form-label">Debit/Credit : </label>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>Debit</option>
                                    <option>Credit</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">On account of : </label>
                            <div class="form-group col-md-4">
                                <select class="form-control">
                                    <option>Mr.One</option>
                                    <option>Mr.Two</option>
                                    <option>Mr.Three</option>
                                    <option>Mr.Four</option>
                                </select>
                            </div>
                            <label for="staticEmail" class="col-md-2 col-form-label">Purpose : </label>
                            <div class="form-group col-md-4">
                                <textarea class="form-control" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Cash</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="cheque"
                                    id="inlineRadio2">
                                <label class="form-check-label" for="inlineRadio2">Cheque</label>
                            </div>
                        </div>
                        <div class="cheque box border m-4 p-4">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-md-2 col-form-label">Cheque No : </label>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="inputEmail4" />
                                </div>
                                <label for="staticEmail" class="col-md-2 col-form-label">Dated : </label>
                                <div class="form-group col-md-4">
                                    <input type="date" class="form-control" id="inputEmail4" />
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="staticEmail" class="col-md-2 col-form-label">Drawn On : </label>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="inputEmail4" />
                                </div>
                                <label for="staticEmail" class="col-md-2 col-form-label">Branch : </label>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="inputEmail4" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">Taka : </label>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="inputEmail4" />
                            </div>
                            <label for="staticEmail" class="col-md-2 col-form-label">Total Taka (In Word) : </label>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="inputEmail4" />
                            </div>
                        </div>
                </div>
                <button type="submit" class="btn btn-primary ml-3 my-4">
                    Submit
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block js_block %}
<script>
    $(".box").hide();
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            var inputValue = $(this).attr("value");
            var targetBox = $("." + inputValue);
            if (inputValue == "cheque") {
                $(targetBox).show(500);
            } else {
                $(".box").hide();
            }
        });
    });
</script>
{% endblock %}